@tailwind base;
@tailwind components;
@tailwind utilities;

section, footer {
  @apply container mx-auto px-5;
}

/* input form */
form {
    @apply block my-10;
}

.input_form {
    @apply block mb-5;
}
.input_form > span {
    @apply block text-sm;
}
.input_form > input {
    @apply block w-full border border-gray-950 rounded-md px-3 py-2 mt-1 text-sm outline-none bg-transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

form input[type="submit"] {
    @apply block w-full bg-blue text-white rounded-md px-3 py-2 mt-1 text-sm outline-none cursor-pointer disabled:bg-slate-300 transition-all;
}

/* dashboard header */
.active_link {
    @apply bg-white rounded-md shadow shadow-gray-200;
}